.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    background-color: #fffbe6;
}

.header{
    background-color: #ff5151;
    height: 30vh;
    text-align: left;
    font-size:3em;
    padding: 20px 140px;
    color: white;
}