
<div class="container">
  <img src="http://nihongo-e-na.com/archives/006/201206/large-4fe806d39a5fc.png">
  <div class="iner-conatiner">
      <h1>lets review the site:</h1>
      <h2>ui/ux mistakes</h2>
      <div class="main">
          <ul>
              <li>This site is way to busy,there are multiple elements on this single page.</li>
              <li>Lack of free space, leaving free space on a page make users optimize things easily.</li>
              <li>On the bottom left side the news are not ordered chronologically. </li>
              <li>This site is not appealing, it has nothing special and i don't want to stay on it.</li>
              <li>this site has no logo, i want remmber it</li>
              <li>There is no padding on the sides of the website</li>
              <li>Some articles have pictures and other has icons</li>
            </ul>
          
      </div>
  </div>
</div>

