<div class="container">
  <div class="iner-conatiner">
    <h1>
      Code meaning
    </h1>
    <div class="main">
        <h3>This code is written in 'Less', it allows you to make functions in your css code which gives you much more control.
      
        in this function when you sent a certain color to the functions it makes the color of the text 5% saturation more,
        and the box shadow in 30% lighter. 
        i have converted this code to regular css, you can see the result here:</h3>
    </div>

    <div class="code-continer">
      <div class="box">
        <div>Example of the box</div>
      </div>
    </div>
  <div>
</div>